

.right-inner-addon {
	position: relative;
}

.right-inner-addon input {
	padding-right: 30px;
}

.right-inner-addon i {
	font-size: medium;
    left: 164px;
    padding: 8px 5px;
    pointer-events: none;
    position: absolute;
    right: 0;
}

.classItem{
	 display: flex;
}
.acontainer {
    width: 225px;
}


#form_div_item_id .acontainer {
    height: 34px;
    width: 230px;
}

#itemname {
    width: 205px;
}


/* #form_itemData div.adropdown table tbody tr td:nth-child(3) {
	display: none;
}
#form_itemData div.adropdown table tbody tr td:nth-child(2) {
	display: none;
}
#form_itemData div.adropdown table tbody tr td:nth-child(4) {
	display: none;
}

#form_itemData div.adropdown table tbody tr td:LAST-CHILD {
	display: none;
}


#form_itemData div.adropdown table thead tr:FIRST-CHILD th:FIRST-CHILD) {
	display: none;
}

#form_itemData div.adropdown table tbody tr:FIRST-CHILD th:FIRST-CHILD {
	display: none;
} */

/* #form_itemData div.adropdown table thead tr:FIRST-CHILD th:FIRST-CHILD {
	display: none;
}
 */
/* 

#form_itemData .adropdown  table tbody tr td:last-child {
	display: none;
}


#form_itemData .adropdown table thead tr:FIRST-CHILD th:FIRST-CHILD {
	display: none;
}

#form_itemData .adropdown  table thead tr:FIRST-CHILD th:FIRST-CHILD {
	display: none;
}*/

/* #div_code1 .adropdown table thead tr:FIRST-CHILD th:FIRST-CHILD {
	display: none;
}  */
#department_wise_report_form_div #department_wise .adropdown table tbody tr td:nth-child(1) {
	display: none;

/* #department_wise_report_form_div div.adropdown table thead tr:FIRST-CHILD th:FIRST-CHILD {
	display: none;
} */

/*  #department_wise_report_form_div div.adropdown table tbody tr td:nth-child(1) {
	display: none;
} 
 */
 .shops_div {
    float: left;
   
    border: solid 1px;
    overflow: auto;
   height: 400px;
}
.shop_rl_name.ng-binding {
    font-weight: normal;
}
.shop_div_cnt {
    float: left;
    height: 355px;
    margin-top: 42px;
    overflow-x: hidden;
    padding: 5px;
    width: 100%;
}
#form_div_item_id.form-group {
    float: left;
    margin-top: 25px;
    width: 100%;
}

.shop_div_cnt .shop_div_rl_chkbx {
    float: left;
    margin-right: 5px;
}
.shop_div_cnt .shop_div_cnt_label {
    float: left;
    margin-bottom: 5px;
    width: 100%;
}
.main_list_div {
    float: left;
}
.selected_shop_div
{
	 overflow: auto;
	 border: solid 1px;
	 height: 400px;
}

.main_list_div label.ng-binding.ng-scope {
    width: 236px;
}
.shops_div {
    border: 1px solid #adadad;
    border-radius: 6px;
    float: left;
    position: relative;
    height: 400px;
    overflow: hidden;
    width: 350px;
}
.shps1 {
    float: left;
    text-align: right;
    width: 140px;
}

.shop_div_hdr {
    background: #d8d8d8 none repeat scroll 0 0;
    float: left;
    height: 42px;
    padding: 3px 5px;
    position: absolute;
    width: 350px;
}
.shop_div_hdr .chck_box_div {
    float: left;
    margin: 0;
   width: 20px;
    margin-top: 10px;
}
.shp_main_btn {
    float: left;
    margin: 83px 15px;
}
.shop_div_hdr .shop_div_hdr_input {
    border: 1px solid #909090;
    float: left;
    height: 20px;
    margin: 3px;
    padding: 3px;
    width: 281px;
}
#LeftRightBtn > input#btnLeft {
    background: #f47f22 none repeat scroll 0 0;
    border: 1px solid #e36e11;
    color: #fff;
    margin-top: 23px;
}
#LeftRightBtn > input#btnRight {
    background: #00acd6 none repeat scroll 0 0;
    border: 1px solid #008bb5;
    color: #fff;
    margin-top: 23px;
}
#LeftRightBtn > input {
    border-radius: 100%;
    display: block;
    font-weight: bold;
    height: 40px;
    width: 40px;
}
 button.clickbtn {
    height: 25px;
    width: 10px;
    /* padding: 12px; */
}