@CHARSET "UTF-8";
@CHARSET "UTF-8";

#prodcost_form .input-group{
	width: 100%;
}

#prodcost_form .box-body{
	height: 454px;
	padding-top: 30px;
}

#prodcost_form .form-group {
    margin-bottom: 20px;
}
